@import "tailwindcss";

:root {
  --color-income: #85d97f;
  --color-expense: #770001;
  --color-bg: #010001;
  --color-card-bg: #161617;
  --color-icon-bg: #2e2f2e;
  --color-navBar-text: #636263;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: "Poppins", sans-serif;
}
